@{ 
  ViewBag.Title = "Home Page";
}

<div class="row">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Current Max Amplitude</h3>
    </div>
    <div class="panel-body">
      <div id="level">
      </div>
      <hr/>
      <div class="pull-right">
        <h3>Last Updated: <span id="date">--</span></h3>
      </div>
    </div>
  </div>

</div>

@section scripts{
  <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
  <script src="~/SignalR/hubs"></script>

  <script>
    (function () {
      var hub = $.connection.noiseDataHub;

      $.connection.hub.logging = true;
      $.connection.hub.start();

      hub.client.newMessage = function (event) {

        var date = new Date(event.DateTime);

        $("#level").html(event.Level);
        $("#date").html(date.toLocaleTimeString() + "  " + date.toLocaleDateString());
      };

    })();
  </script>

}